// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import FontAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

$fa-font-path: '~@fortawesome/fontawesome-free/webfronts';

@import "fortawesome/fontawesome-free/scss/solid.scss";
@import "fortawesome/fontawesome-free/scss/regular.scss";

// Custom styles

// Styling for anchor tags
a {
    cursor: pointer;
}

// Body styles
body {
    background-color: black;
    color: white;
}

// H2 styles inside the body
body h2 {
    color: red;
}
